.infotausta {
  background: url('/aloitussivu/kuvat/Hi.gif') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.info {
  background-color: rgb(255, 255, 255);
  border: 2px solid #725838;
  border-radius: 10px;
  padding: 10px;
  width: 750px;
  height: 150px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #725838;
  font-family: sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.close {
  position: absolute;
  top: 6px;
  right: 5px;
  background-color: #ffffff;
  color: #725838;
  border: 2px solid #725838;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  font-family: 'Jaro', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.close:hover {
  background-color: #deac6faf;
}
